.apply-form {
    display: grid;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
    
    width:fit-content;
    

    background-color: whitesmoke;
    border-radius: 1%;

    padding: 15px 50px;

    margin: 10% auto; 

    box-shadow: 0px 0px 10px #222222;
}


.apply-form h2 {
    color: #003399; 
    text-align: center;
}



/*

*/
#job_reference_number {
    width: 40%;
}