.page_footer {
    background-color: #003399; 
    color: white; 
    text-align: center; 
    padding: 20px; 
    font-size: 0.95rem; 
    width: 100%;
}

.page_footer > p:first-child {
    color: white;
    margin: 0 0 10px 0;
}

.page_footer > p:last-child {
    color: white;
    margin: 0;
}